<%- include('partials/head') %>
    <%- include('partials/navbar') %>
    <h1>Home page <%= 5 + 4 + 1 %>  </h1>
    
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ullamcorper non nunc ac facilisis. Nam hendrerit consequat arcu faucibus maximus. Aliquam erat volutpat. Aenean ac turpis libero. Curabitur eros arcu, efficitur in odio vitae, sollicitudin congue velit. Integer convallis pretium nibh vel lobortis. Vestibulum sed libero lacus. Vestibulum luctus nisi vel magna efficitur ullamcorper. Fusce vitae enim at lorem efficitur commodo.
    </p>

<%- include('partials/footer') %>
