@import "https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css";

.winner {
    color: #05FFDA;
}

.loser {
    color: #FF8099;
}

.score {
    font-weight: bold;
    font-size: 24px;
}

span {
    font-size: 36px;

}

.buttons {
    margin-top: 2em;
}

