<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment</title>
</head>

<body>
    <h1>Comment id: <%= id%>
    </h1>
    <div>
        <h3>
            <%= username %>
        </h3>
        <p>
            <%= comment %>
        </p>
    </div>

    <a href="/comments">Back</a>
</body>

</html>